@import './css/fontawesome-all.min.css';
@import './css/noscript.css';
@import './css/main.css';

@import "tailwindcss";


:root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #0070f3;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
}

html {
    width: auto;
}


